.idea/
upgrade/*
themes/*
!themes/newtheme
languages/*
uploads/*
plugins/*
!plugins/taskbook
!plugins/recipe
!plugins/email-recipe.php
!plugins/hello.php
!plugins/mouse-based-parallax
!plugins/tutsplus-post-notice
debug.log